body {
  background-color: CornflowerBlue;
  color: #000000;
}

a,
a:visited {
  color: #000000;
  text-decoration: none;
}

div {
  margin: 20px;
  padding: 5px;
}

h3, h1 {
  border: dashed BlueViolet 2px;
  color: LightCoral;
  margin: 20px;
  padding: 5px;
}

li {
  margin: 30px;
  padding: 5px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: LightCoral;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #FFD800;
}

.logo {
  border: dashed BlueViolet 2px;
  margin: 20px;
  padding: 5px;
  background-color: LemonChiffon;
  text-align: center;
}

.callout {
  margin: 20px;
  padding: 5px;
  background-color: LemonChiffon;
}

.header {
  color: LightCoral;
  margin: 20px;
  padding: 5px;
  border: dashed White 2px;
}

.details {
  border: dashed Black 1px;
}
